/* kopia z dashboard.css bo nie działało */
/* Primer Font */
@font-face {
	font-family: "PrimerPrint-Regular";
	src: url('/arts/PrimerPrint-Regular.ttf');
}
/* Background */
body {
	margin: 0px;
	padding: 0px;
	background-color: #303030;
}
/* It is a Menu Zone */
.headerMenu {
	background-color: #303030;
	height: 30px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 0px;
}
#settings a {
	color: #EAF5EC;
	text-decoration: none;
	font-size: 18px;
	font-family: PrimerPrint-Regular;
	background-color: #303030;
	background-repeat: no-repeat;
	padding: 8px 10px 0 10px;
	transition: 300ms;
}
#settings a:hover{
	color: #FF5729;
	background-color: #333;
}
#settings {
	background-color: #303030;
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 22px;
	padding-top: 8px;
}
/* Menu Buttons */
#center {
	background-color: #303030;
	position: absolute;
	top: 0px;
	left	: 50%;
	transform: translate(-50%, 0);
	height: 22px;
	padding-top: 8px;
}
#center a {
	color: #EAF5EC;
	text-decoration: none;
	font-size: 18px;
	font-family: PrimerPrint-Regular;
	background-color: #303030;
	background-repeat: no-repeat;
	padding: 8px 10px 0 10px;
	transition: 300ms;
	vertical-align: top;
}
/* Alloc Logo/Signet */
#center img {
	width: 52px;
	height: 52px;
	filter: drop-shadow(0 0 5px black);
}
#center a:hover {
	color: #FF5729;
	background-color: #333;
}
#friends a {
	color: #EAF5EC;
	background-color: #303030;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 100%;
	transform: translate(-100%, 0);

	height: 22px;
	margin-right: 4%;
	text-decoration: none;
	font-size: 18px;
	font-family: PrimerPrint-Regular;
	padding: 8px 10px 0px	 10px;
	transition: 300ms;
}
#friends a:hover {
	color: #FF5729;
	background-color: #333;
}
/* End of Menu Buttons */

/* start of profile */
div#container{
  height: 100vh;
}
div.background{
	display: inline-block;
	height: 250px;
	width: 100%;
	background-image: url("/arts/background.png");
}
div.profile{
	/* musze tu jakos wcisnac border by nie zlewalo sie z tlem przypadkiem */
	position: relative;
	display: inline-block;
	float: left;
	margin-left: 50%;
	margin-top: 125px;
	transform: translate(-50%);
	width: 200px;
	height: 200px;
	border-radius: 9001px;
	background-image: url("/arts/profilepic.png");
}
div.friending{
	position: relative;
	display: inline-block;
	background-color: #FF5729;
	padding: 4px;
	padding-left: 18px;
	padding-right: 18px;
	color: #EAF5EC;
	font-size: 18px;
	font-family: PrimerPrint-Regular;
	float: left;
	border: none;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 240px;
}
div.tabs{
	float: left;
	width: 400px;
}
div.things{
	float: left;
	background-color: #444;
	width: 400px;
	height: 140px;
	color: #EAF5EC;
	font-size: 24px;
	font-family: PrimerPrint-Regular;
	border: none;
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 100px;
	resize: none;
}
div.and{
	float: left;
	background-color: #444;
	width: 400px;
	height: 300px;
	color: #EAF5EC;
	font-size: 24px;
	font-family: PrimerPrint-Regular;
	border: none;
	border-radius: 10px;
	margin-left: 10%;
	margin-top: 5px;
	resize: none;
}
div.post{
	float: left;
	background-color: #444;
	width: 600px;
	height: 400px;
	margin-top: 100px;
	margin-left: 10%;
	border-radius: 3%;
}
p.cfriends{
	border-bottom: 2px dashed #FF5729;
	margin-top: 5px;
	margin-left: 10px;
}
p.cphoto{
	border-bottom: 2px dashed #FF5729;
	margin-top: 5px;
	margin-left: 10px;
}
div.postpic{
	float: left;
	margin: 10px;
	width: 45px;
	height: 45px;
	border-radius: 9001px;
	background-image: url("/arts/profilepic.png");
}
p.postname{
	float: left;
	margin: 10px;
	color: #EAF5EC;
	font-family: PrimerPrint-Regular;
	font-size: 18px;
}
/* end of profile */
