<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>
    <div id="container">
      <!-- Paweł: Zmieniłem "localhost:8000" na "/"
                  Jak wrzucimy server do sieci, to wtedy będzie on miał
                  własną domenę, a nie "localhost"...
                  "/" mówi serwerowi, że ma szukać stronę "localhost:8000/"
                  co w tym przypadku niczego nie zmienia...
                  Analogicznie gdybyś dał "/kappa", serwer by przekierował cię
                  na "localhost:8000/kappa"
      -->
      <a href="/" id="back">Back</a>
      <!-- Paweł: może tutaj damy nazwę użytkownika z którym gadamy? -->
      <h1>User</h1>
      <div class="content"></div>
      <br>
      <textarea placeholder="Write a message..."></textarea>
    </div>
    <script src="js/chat.js"></script>
  </body>
</html>
