<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Paweł: Wrzuciłem ten styl do osobnego pliku -->
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>
    <h1>Chat</h1>
    <textarea></textarea>
    <!-- Paweł: Dodałem javascript w osobnym pliku -->
    <script src="js/chat.js"></script>
  </body>
</html>
