<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>
    <div id="container">
      <div id="back"><a href=http://localhost:8000>Back</a>
      </div>
      <div id="alloc">
      <h1>Alloc Chat</h1>
    </div>
      <div class="content"></div>
      <br>
      <textarea placeholder="Write a message..."></textarea>
    </div>
    <script src="js/chat.js"></script>
  </body>
</html>
