<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      textarea{
        resize: none;
      }
    </style>
  </head>
  <body>
    <h1>Chat</h1>
    <textarea></textarea>
  </body>
</html>
