<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alloc</title>
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css" />
  </head>
  <body>
    <!-- It is a Menu Zone -->
  <div class="headerMenu">
  	<div id="wrapper">
      <!-- Alloc Logo/Signet -->
  		<div class="logo">
  			<img src="./arts/alloclogo.png" />
</div>
  <!-- Menu Buttons -->
<div id="menu">
  <a href="#" />HUB</a>
  <a href="#" />EXPLORE</a>
  <a href="#" />SETTINGS</a>
</div>
<div id="friends">
  <a href="#" />FRIENDS</a>
  <div>
    <!-- End Of Menu Buttons -->
  </body>
</html>
