<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alloc</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <!-- Start of Menu Zone -->
    <div class="headerMenu">
      <div id="center">
        <a href="#">DASHBOARD</a>
        <img src="/arts/alloclogo.png" />
        <a href="#">EXPLORE</a>
      </div>
    </div>

    <div class="layout">
      <div class="talks">
        <div class="talk">
          <div class="chat">
            <span online>John</span>
            <div class="chat-output"></div>
          </div>
          <div class="chat-text">
            <textarea class="chat-input" placeholder="Write a message..."></textarea>
          </div>
        </div>
        <ul class="friends">
          <li online>Paweł Karaś</li>
          <li>Remigiusz Stęclik</li>
          <li>Jakub Zaremba</li>
          <li online>Paweł Karaś</li>
          <li>Remigiusz Stęclik</li>
          <li>Jakub Zaremba</li>
          <li online>Paweł Karaś</li>
          <li>Remigiusz Stęclik</li>
          <li>Jakub Zaremba</li>
        </ul>
        <input id="search" placeholder="Look up friend &#x1F50E;"/>
      </div>

      <div id="main">
        <div id="dashboard"></div>
        <div id="panel"></div>
      </div>
    </div>


    <script>
    // Variables taken from server
      window.user = {
        fname : '<%= fname %>',
        lname : '<%= lname %>',
        email : '<%= email %>'
      }
    </script>
    <script src="/js/chat.js"></script>
  </body>
</html>
