<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- Chłopaki, zróbcie z tego świetny interface -->
    <h1> <%= "Welcome to Alloc" %> </h1>
    <a href="dashboard">Dashboard</a>
    <a href="chat">Chat</a>
  </body>
</html>
