<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/user.css">
  </head>
  <body>
    <header></header>
    <!-- Kuba zrób tutaj profil użytkownika -->
    <!-- okej. zrobilem tylko tyle ile umialem. reszte designu ogarne jak bede mial wieczorem czas -->
    <div id="container">
      <div class="background">
        <div class="profile">
        </div>
        <div class="friending">
          Add friend
        </div>
      </div>
      <div class="tabs">
        <div class="things">
          <p class="cfriends">Friends</p>
        </div>
        <div class="and">
          <p class="cphoto">Pictures</p>
        </div>
      </div>
      <div class="post">
          <div class="postpic">
          </div>
          <p class="postname">Yeah Boi</p>
      </div>
    </div>
    <!-- kiedys sie zrobi szefie! -->
    <script src="js/boot.js" charset="utf-8"></script>
  </body>
</html>
