<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>
    <!-- Start of Menu Zone -->
    <div class="headerMenu">
      <!-- Alloc Logo/Signet -->
  		<div id="settings">
        <a href="#"/>SETTINGS</a>
      </div>
      <!-- Menu Buttons -->
      <div id="center">
        <a href="#"/>DASHBOARD</a>
        <img src="/arts/alloclogo.png" />
        <a href="#"/>EXPLORE</a>
      </div>
      <div id="friends">
        <a href="#"/>FRIENDS</a>
      </div>
    </div>
    <!-- End Of Menu Zone -->

    <!-- Kuba zrób tutaj profil użytkownika -->
  </body>
</html>
