<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/user.css">
  </head>
  <body>
    <header></header>
    <!-- Kuba zrób tutaj profil użytkownika -->
    <div id="container">
      <div class="background">

      </div>
    </div>
    <!-- kiedys sie zrobi szefie! -->
    <script src="js/boot.js" charset="utf-8"></script>
  </body>
</html>
